
html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

/* Background Pattern 
Taken From https: http://thepatternlibrary.com/ */

body{
  background-image: url("https://cdn.glitch.global/e74096a8-5a8f-463c-a49b-10b2e3786be1/flowers%20(1).jpg?v=1741631569410");
}

h1,
h2 {
  background-color: #DE3163 ;
  color: white;
  width: 500px;
  margin: auto;
  margin-bottom: 5px;
}
#myCanvas {
  border: 1px solid  #DE3163;
}
